.banner {
	h1 {
		letter-spacing: -.02em;
		line-height: 90%;
	}

	.uk-container-xlarge {
		position: relative;
		width: 100%;

		&::before {
			position: absolute;
			content: '';
			display: block;
			right: 0;
			width: 100%;
			top: 0;
			bottom: 0;
			z-index: -1;
		}
	}

	&-alt {
		h1 {
			font-size: 57px;
		}

		.uk-container-xlarge::before {
			background-color: $warning;
		}
	}

	@media (min-width: $breakpoint-medium) {
		.uk-container-xlarge {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			bottom: 0;

			&::before {
				right: 40px;
				width: 70%;
			}
		}

		.image-box {
			width: 63.75%;
			background-position-y: 60px;

			>.uk-background-cover {
				height: calc(100% - 60px);
				top: 60px;
			}
		}

		.uk-width-1-3\@m {
			padding-right: 43px;
			padding-left: 30px;
		}

		&-alt {
			>.uk-flex {
				min-height: 418px;
			}

			h1 {
				font-size: 67px;
			}
		}
	}

	@media (min-width: $breakpoint-xlarge) {
		.uk-width-1-3\@m {
			padding-left: 85px;
		}
	}

	@media (max-width: $breakpoint-small-max) {
		.uk-container-xlarge {
			box-sizing: border-box;
		}

		&-alt {
			.uk-container-xlarge {
				padding: 30px;
			}

			>.uk-flex {
				flex-direction: column;
			}

			.uk-flex-right {
				justify-content: flex-start;
			}

			.image-box {
				min-height: 200px;
				width: 100%;
			}
		}
	}
}