.nav-top {
	svg {
		width: 20px;
	}

	.icon-caret-down {
		width: 10px;
		pointer-events: none;
	}

	.open-today,
	ul .uk-button {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			right: 0;
			left: auto;
			top: auto;
			width: calc(100% - 38px);
			background-color: $primary;
			height: 1px;
			bottom: 0;
			display: block;
			opacity: 0;
		}

		&::after {
			display: none;
		}

		@include hover {
			&::before {
				opacity: 1;
			}
		}
	}

	.open-today {
		text-transform: none;
		padding-right: 22px;
		background-color: transparent;

		&[aria-expanded='true'] {
			color: $white;
		}

		&::before {
			width: calc(100% - 68px);
			transform: translateX(-15%);
		}

		@include hover {
			color: $primary;

			svg {
				color: $primary;
			}
		}
	}

	ul {
		li {
			&:not(:last-of-type) {
				margin-right: 20px;
			}

			&::before {
				pointer-events: none;
			}
		}

		.uk-button {
			padding: 0;
			color: $primary;
			text-transform: none;
		}
	}

	@media (min-width: $breakpoint-medium) {
		margin-bottom: 26px;

		ul li {
			&:not(:last-of-type) {
				margin-right: 30px;
			}
		}

		.uk-button {
			font-size: 16px;
		}

		.open-today {
			margin-right: 30px;
			padding-right: 0;
		}
	}

	@media (max-width: $breakpoint-small-max) {
		ul .uk-button {
			z-index: 1031;
		}

		li .uk-button {
			width: 44px;
			height: 44px;
			font-size: 8px;

			>span {
				color: $white;
			}

			svg {
				margin-bottom: 5px;
			}
		}

		.open-today {
			right: -10px;
			padding-top: 13px;
			padding-bottom: 13px;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			z-index: 1025;
			overflow: visible;

			&::before {
				position: absolute;
				left: -31px;
				bottom: 0;
				content: '';
				background-image: url('data:image/svg+xml,%3Csvg width="60" height="60" xmlns="http://www.w3.org/2000/svg"%3E%3Crect fill="none" id="canvas_background" height="402" width="582" y="-1" x="-1"/%3E%3Cpath transform="rotate(-90 30.000000000000004,30.000057220458988) " id="svg_1" d="m0,0l0,60l60,0c0,0 -24.175,0.206 -42,-17c-17.792,-17.175 -18,-43 -18,-43z" fill="%23000" stroke-width="0px" stroke="rgb(255, 0, 0)" fill-rule="evenodd"/%3E%3C/svg%3E');
				width: 60px;
				display: block;
				height: 20px;
				background-color: transparent;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0;
			}

			@include hover {
				&::before {
					opacity: 0;
				}
			}

			&[aria-expanded='true'] {
				background-color: $black;
				color: $white;

				&::before {
					opacity: 1;
				}

				svg {
					color: $white;
				}

				@include hover {
					background-color: $black;
					color: $white;

					&::before {
						opacity: 1;
					}

					svg {
						color: $white;
					}
				}
			}
		}
	}
}