.nav-top {
	svg {
		width: 20px;
	}

	.icon-caret-down {
		width: 10px;
		pointer-events: none;
	}

	.open-today,
	ul .uk-button {
		z-index: 1025;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			right: 0;
			left: auto;
			top: auto;
			width: calc(100% - 38px);
			background-color: $primary;
			height: 1px;
			bottom: 0;
			display: block;
			opacity: 0;
		}

		&::after {
			display: none;
		}

		@include hover {
			&::before {
				opacity: 1;
			}
		}
	}

	.open-today {
		text-transform: none;
		padding-right: 12px;
		background-color: transparent;

		&[aria-expanded='true'] {
			color: $white;
		}

		&::before {
			width: calc(100% - 68px);
			transform: translateX(-15%);
		}

		@include hover {
			color: $primary;

			svg {
				color: $primary;
			}
		}
	}

	ul {
		li {
			&:not(:last-of-type) {
				margin-right: 20px;
			}

			&::before {
				pointer-events: none;
			}
		}

		.uk-button {
			padding: 0;
			color: $primary;
			text-transform: none;
		}
	}

	@media (min-width: $breakpoint-medium) {
		margin-bottom: 26px;

		ul li {
			&:not(:last-of-type) {
				margin-right: 30px;
			}
		}

		.uk-button {
			font-size: 16px;
		}

		.open-today {
			margin-right: 30px;
			padding-right: 0;
		}
	}

	@media (max-width: $breakpoint-small-max) {
		li .uk-button {
			width: 44px;
			height: 44px;
		}

		.open-today {
			padding-top: 13px;
			padding-bottom: 13px;
		}
	}
}