.related {
	.uk-card {
		.uk-button-secondary {
			@include button-pseudo-elements;

			&::before {
				background-color: $primary;
			}
		}

		@include hover {

			.uk-button-secondary {
				&::before {
					bottom: 0;
					top: auto;
					height: 100%;
				}
			}
		}
	}
}