/*body {
	overflow-x: hidden;
}*/

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

[data-uk-lightbox] a {
	cursor: zoom-in;
}


p,
li {

	a:not(.uk-accordion-title):not(.social):hover,
	.uk-link:hover,
	.uk-link-toggle:hover .uk-link,
	.uk-link-toggle:focus .uk-link {
		@include link-hover($primary);
	}
}

.toggle-button {
	background-color: transparent;
	width: 56px;
	height: 56px;
	transition: $transition;

	span {
		width: 30px;
		height: 2px;
		background-color: $black;

		&::before,
		&::after {
			position: absolute;
			content: '';
			display: block;
			left: 0;
			height: 2px;
			background-color: $black;
		}

		&::before {
			width: 30px;
			top: -8px;
		}

		&::after {
			width: 20px;
			top: 8px;
		}
	}

	@include hover {

		span,
		span::before,
		span::after {
			background-color: $primary;
		}
	}

	&.uk-close {
		border-radius: 50%;
		background-color: $grey-dark;
		right: 97px;
		position: absolute;
		top: 70px;

		svg {
			display: none;
		}

		span {
			transform: translate(-50%, -50%) rotate(45deg);
			background-color: $white;

			&::after {
				opacity: 0;
			}

			&::before {
				transform: rotate(-90deg) translate(-29%, -9%);
				background-color: $white;
			}
		}

		@include hover {
			background-color: $primary;

			span,
			span::before,
			span::after {
				background-color: $white;
			}
		}
	}
}