//
// Main
//

// Background Icon
@mixin bg-icon($icon) {
	background-image: url('data:image/svg+xml;utf8,'+ $icon);
	background-repeat: no-repeat;
}

// Hover
@mixin hover {

	&:hover,
	&:focus,
	&:active,
	&.uk-open,
	&.uk-active {
		@content;
	}
}

// Image caption
@mixin image-caption {
	font-size: 14px;
	color: $grey;
	padding: 0 0 $global-small-margin;
	text-align: center;
}

// Pseudo Icon
@mixin pseudo-icon($icon) {
	@include bg-icon($icon);
	content: '';
	background-size: contain;
	display: inline-block;
}

// Truncate text
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Truncate text
@mixin link-hover($color) {
	@include hover {
		box-shadow: inset 0 -1px 0 0 $color;
	}
}


//
// UIkit
// https://github.com/uikit/uikit/tree/master/src/scss
//
// Imports UIkit mixin overrides for the theme
// These are not used by main.scss, although loaded
//
// ========================================================================

// Base
@import 'uikit/base';

// Elements
@import 'uikit/table';
@import 'uikit/form';
@import 'uikit/button';

// Layout
@import 'uikit/card';

// Navs
@import 'uikit/navbar';
@import 'uikit/breadcrumb';

// Utilities
@import 'uikit/text';

// Links
@import 'uikit/link';

// Slideshow
@import 'uikit/slideshow';

// Lightbox
@import 'uikit/lightbox';

// Overlay
@import 'uikit/overlay';

// Accordion
@import 'uikit/accordion';

// Alert
@import 'uikit/alert';

// Sticky
@import 'uikit/sticky';

// Totop
@import 'uikit/totop';

// Dotnav
@import 'uikit/dotnav';

// Search
@import 'uikit/search';

// Dropdown
@import 'uikit/dropdown';

// Dropdown
@import 'uikit/modal';