//
// Main
//
// ========================================================================

//
// Typography
//

// Family
$font-default: 'Barlow Semi Condensed', sans-serif;
$font-alt: 'Barlow Condensed', sans-serif;

// Size
$font-size: 20px;

// Weight
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Line Height
$line-height: 1.7;


//
// Colours
//
$white: #fff;
$black: #000;
$primary: #cb3132;
$secondary: $black;
$success: #82ca9c;
$green: #78cdd1;
$blue: #30aad7;
$warning: #fdb913;
$danger: $primary;
$red: #a60001;
$yellow: #fddb88;
$yellow-dark: #faa05a;
$grey: lighten($black, 40%);
$grey-dark: #333;
$light-grey: #c2c2c2;
$off-white: #f2f2f2;


//
// Other
//

// Animation
$speed: 256ms;
$speed-fast: 128ms; // math.div($speed, 2);
$speed-slow: $speed * 2;
$timing: ease-in-out;
$transition: $speed $timing;


//
// UIkit Global Variables
// https://github.com/uikit/uikit/blob/master/src/scss/components/variables.scss
//
// Imports UIkit variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'uikit/variables';

//
// Mmenu Global Variables
// https://github.com/FrDH/mmenu-js/blob/master/src/_variables.scss
//
// Imports Mmenu variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'mmenu/variables';
@import 'mmenu/mmenu';
