.footer {
	li a:not(.uk-accordion-title):not(.social) {
		@include hover {
			box-shadow: none;
		}
	}

	&-middle {
		background-color: $off-white;
		padding-top: 70px;
		padding-bottom: 60px;

		.uk-text-small {
			line-height: 1.6;
		}

		a {
			color: rgba($black, .7);

			@include hover {
				color: $primary;
			}
		}
	}

	&-bottom {
		padding: 50px 0 40px;

		* {
			line-height: 1.3;
		}
	}

	.share li a {
		width: 40px;
		height: 40px;
	}

	@media (max-width: $breakpoint-mobile) {
		font-size: 0.8rem;
	}

	.legal {
		margin-right: 25px;

		ul {

			li {
				margin-bottom: 10px;

				&:not(:last-of-type) {
					margin-right: 25px;
				}

				a {

					@include hover {
						color: $black;
					}
				}
			}
		}
	}

	.copyright {
		margin-right: 25px;
	}

	.watermark {

		a {
			align-items: center;
			color: $black;
			display: inline-flex;
			font-weight: 700;

			@include hover {
				color: #e11e2f;
				text-decoration: none;
			}

			img {
				height: 1rem;
				margin-left: 2px;
				width: auto;
			}
		}
	}

	@media (min-width: $breakpoint-small) {
		&-middle {
			padding-top: 80px;
			padding-bottom: 85px;
		}

		&-bottom {
			padding: 40px 0 30px;
		}
	}
}