.header {
	background-color: $white;

	.uk-logo img {
		width: 166px;
	}

	a {
		transition: $transition;

		@include hover {
			box-shadow: none !important;
		}
	}

	@media (min-width: $breakpoint-large) {
		.uk-logo img {
			width: 216px;
		}
	}
}