<section class="events" data-uk-scrollspy="cls: uk-animation-fade; delay: 300; offset-top: -50">
	{{#> ukContainer size="large" class="uk-margin-top"}}
		{{#*inline "out"}}
			<div class="uk-flex uk-flex-between uk-flex-top">
				<div class="uk-flex uk-position-relative uk-width-1-3@m">
					<h2 class="uk-h1 uk-text-uppercase uk-margin-bottom">See<br> what’s on
					{{>renderIcon name='arrow-right-long'}}
					</h2>
					<div class="uk-position-bottom-right calendar-button uk-border-rounded uk-flex uk-flex-middle uk-flex-center uk-hidden@m uk-margin-bottom">
						<input type="text" class="basicDate" data-input>
						<div class="calendar-wrap uk-position-center uk-flex uk-flex-center uk-flex-middle">
							<svg class="icon-calendar" width="34" height="35" viewBox="0 0 34 35" xmlns="http://www.w3.org/2000/svg">
								<path d="M30.3571 4.53446H26.7143V2.10591C26.7143 1.43525 26.1706 0.891602 25.5 0.891602C24.8293 0.891602 24.2857 1.43525 24.2857 2.10591V4.53446H9.71426V2.10591C9.71426 1.43525 9.1706 0.891602 8.50002 0.891602C7.82943 0.891602 7.28571 1.43525 7.28571 2.10591V4.53446H3.64285C1.63096 4.53446 0 6.16542 0 8.17731V31.2487C0 33.2606 1.63096 34.8916 3.64285 34.8916H30.3571C32.369 34.8916 34 33.2606 34 31.2487V8.17731C34 6.16542 32.369 4.53446 30.3571 4.53446ZM31.5714 31.2487C31.5714 31.9194 31.0277 32.4631 30.3571 32.4631H3.64285C2.9722 32.4631 2.42855 31.9194 2.42855 31.2487V15.463H31.5714V31.2487ZM31.5714 13.0345H2.42855V8.17731C2.42855 7.50666 2.9722 6.963 3.64285 6.963H7.28571V9.39155C7.28571 10.0622 7.82936 10.6059 8.50002 10.6059C9.17067 10.6059 9.71433 10.0622 9.71433 9.39155V6.963H24.2857V9.39155C24.2857 10.0622 24.8294 10.6059 25.5001 10.6059C26.1707 10.6059 26.7144 10.0622 26.7144 9.39155V6.963H30.3572C31.0279 6.963 31.5715 7.50666 31.5715 8.17731V13.0345H31.5714Z" />
								<path d="M9.71511 17.8916H7.28657C6.61592 17.8916 6.07227 18.4353 6.07227 19.1059C6.07227 19.7765 6.61592 20.3202 7.28657 20.3202H9.71511C10.3858 20.3202 10.9294 19.7765 10.9294 19.1059C10.9294 18.4353 10.3858 17.8916 9.71511 17.8916Z" />
								<path d="M18.2132 17.8916H15.7846C15.114 17.8916 14.5703 18.4353 14.5703 19.1059C14.5703 19.7765 15.114 20.3202 15.7846 20.3202H18.2132C18.8838 20.3202 19.4275 19.7765 19.4275 19.1059C19.4275 18.4353 18.8838 17.8916 18.2132 17.8916Z" />
								<path d="M26.7151 17.8916H24.2866C23.6159 17.8916 23.0723 18.4353 23.0723 19.1059C23.0723 19.7765 23.6159 20.3202 24.2866 20.3202H26.7151C27.3858 20.3202 27.9294 19.7765 27.9294 19.1059C27.9294 18.4353 27.3857 17.8916 26.7151 17.8916Z" />
								<path d="M9.71511 22.7485H7.28657C6.61592 22.7485 6.07227 23.2922 6.07227 23.9628C6.07227 24.6335 6.61592 25.1772 7.28657 25.1772H9.71511C10.3858 25.1772 10.9294 24.6335 10.9294 23.9628C10.9294 23.2922 10.3858 22.7485 9.71511 22.7485Z" />
								<path d="M18.2132 22.7485H15.7846C15.114 22.7485 14.5703 23.2922 14.5703 23.9628C14.5703 24.6335 15.114 25.1772 15.7846 25.1772H18.2132C18.8838 25.1772 19.4275 24.6335 19.4275 23.9628C19.4275 23.2922 18.8838 22.7485 18.2132 22.7485Z" />
								<path d="M26.7151 22.7485H24.2866C23.6159 22.7485 23.0723 23.2922 23.0723 23.9628C23.0723 24.6335 23.6159 25.1772 24.2866 25.1772H26.7151C27.3858 25.1772 27.9294 24.6335 27.9294 23.9628C27.9294 23.2922 27.3857 22.7485 26.7151 22.7485Z" />
								<path d="M9.71511 27.6064H7.28657C6.61592 27.6064 6.07227 28.1501 6.07227 28.8208C6.07227 29.4914 6.61592 30.035 7.28657 30.035H9.71511C10.3858 30.035 10.9294 29.4913 10.9294 28.8207C10.9294 28.15 10.3858 27.6064 9.71511 27.6064Z" />
								<path d="M18.2132 27.6064H15.7846C15.114 27.6064 14.5703 28.1501 14.5703 28.8208C14.5703 29.4914 15.114 30.0351 15.7846 30.0351H18.2132C18.8838 30.0351 19.4275 29.4914 19.4275 28.8208C19.4275 28.1501 18.8838 27.6064 18.2132 27.6064Z" />
								<path d="M26.7151 27.6064H24.2866C23.6159 27.6064 23.0723 28.1501 23.0723 28.8208C23.0723 29.4914 23.6159 30.0351 24.2866 30.0351H26.7151C27.3858 30.0351 27.9294 29.4914 27.9294 28.8208C27.9294 28.1501 27.3857 27.6064 26.7151 27.6064Z" />
							</svg>
							{{>renderIcon name='caret-down' class="uk-margin-small-left"}}
						</div>
					</div>					
				</div>
				<div class="uk-flex uk-flex-middle uk-flex-wrap uk-width-2-3@m uk-visible@m">
					<ul class="uk-list uk-flex uk-flex-middle uk-flex-wrap">
						<li class="uk-margin-small-right uk-margin-top">
							<div class="uk-position-relative calendar-button uk-border-rounded uk-flex uk-flex-middle uk-flex-center uk-visible@m">
								<input type="text" class="basicDate" data-input>
								<div class="calendar-wrap uk-position-center uk-flex uk-flex-center uk-flex-middle">
									<svg class="icon-calendar" width="34" height="35" viewBox="0 0 34 35" xmlns="http://www.w3.org/2000/svg">
										<path d="M30.3571 4.53446H26.7143V2.10591C26.7143 1.43525 26.1706 0.891602 25.5 0.891602C24.8293 0.891602 24.2857 1.43525 24.2857 2.10591V4.53446H9.71426V2.10591C9.71426 1.43525 9.1706 0.891602 8.50002 0.891602C7.82943 0.891602 7.28571 1.43525 7.28571 2.10591V4.53446H3.64285C1.63096 4.53446 0 6.16542 0 8.17731V31.2487C0 33.2606 1.63096 34.8916 3.64285 34.8916H30.3571C32.369 34.8916 34 33.2606 34 31.2487V8.17731C34 6.16542 32.369 4.53446 30.3571 4.53446ZM31.5714 31.2487C31.5714 31.9194 31.0277 32.4631 30.3571 32.4631H3.64285C2.9722 32.4631 2.42855 31.9194 2.42855 31.2487V15.463H31.5714V31.2487ZM31.5714 13.0345H2.42855V8.17731C2.42855 7.50666 2.9722 6.963 3.64285 6.963H7.28571V9.39155C7.28571 10.0622 7.82936 10.6059 8.50002 10.6059C9.17067 10.6059 9.71433 10.0622 9.71433 9.39155V6.963H24.2857V9.39155C24.2857 10.0622 24.8294 10.6059 25.5001 10.6059C26.1707 10.6059 26.7144 10.0622 26.7144 9.39155V6.963H30.3572C31.0279 6.963 31.5715 7.50666 31.5715 8.17731V13.0345H31.5714Z" />
										<path d="M9.71511 17.8916H7.28657C6.61592 17.8916 6.07227 18.4353 6.07227 19.1059C6.07227 19.7765 6.61592 20.3202 7.28657 20.3202H9.71511C10.3858 20.3202 10.9294 19.7765 10.9294 19.1059C10.9294 18.4353 10.3858 17.8916 9.71511 17.8916Z" />
										<path d="M18.2132 17.8916H15.7846C15.114 17.8916 14.5703 18.4353 14.5703 19.1059C14.5703 19.7765 15.114 20.3202 15.7846 20.3202H18.2132C18.8838 20.3202 19.4275 19.7765 19.4275 19.1059C19.4275 18.4353 18.8838 17.8916 18.2132 17.8916Z" />
										<path d="M26.7151 17.8916H24.2866C23.6159 17.8916 23.0723 18.4353 23.0723 19.1059C23.0723 19.7765 23.6159 20.3202 24.2866 20.3202H26.7151C27.3858 20.3202 27.9294 19.7765 27.9294 19.1059C27.9294 18.4353 27.3857 17.8916 26.7151 17.8916Z" />
										<path d="M9.71511 22.7485H7.28657C6.61592 22.7485 6.07227 23.2922 6.07227 23.9628C6.07227 24.6335 6.61592 25.1772 7.28657 25.1772H9.71511C10.3858 25.1772 10.9294 24.6335 10.9294 23.9628C10.9294 23.2922 10.3858 22.7485 9.71511 22.7485Z" />
										<path d="M18.2132 22.7485H15.7846C15.114 22.7485 14.5703 23.2922 14.5703 23.9628C14.5703 24.6335 15.114 25.1772 15.7846 25.1772H18.2132C18.8838 25.1772 19.4275 24.6335 19.4275 23.9628C19.4275 23.2922 18.8838 22.7485 18.2132 22.7485Z" />
										<path d="M26.7151 22.7485H24.2866C23.6159 22.7485 23.0723 23.2922 23.0723 23.9628C23.0723 24.6335 23.6159 25.1772 24.2866 25.1772H26.7151C27.3858 25.1772 27.9294 24.6335 27.9294 23.9628C27.9294 23.2922 27.3857 22.7485 26.7151 22.7485Z" />
										<path d="M9.71511 27.6064H7.28657C6.61592 27.6064 6.07227 28.1501 6.07227 28.8208C6.07227 29.4914 6.61592 30.035 7.28657 30.035H9.71511C10.3858 30.035 10.9294 29.4913 10.9294 28.8207C10.9294 28.15 10.3858 27.6064 9.71511 27.6064Z" />
										<path d="M18.2132 27.6064H15.7846C15.114 27.6064 14.5703 28.1501 14.5703 28.8208C14.5703 29.4914 15.114 30.0351 15.7846 30.0351H18.2132C18.8838 30.0351 19.4275 29.4914 19.4275 28.8208C19.4275 28.1501 18.8838 27.6064 18.2132 27.6064Z" />
										<path d="M26.7151 27.6064H24.2866C23.6159 27.6064 23.0723 28.1501 23.0723 28.8208C23.0723 29.4914 23.6159 30.0351 24.2866 30.0351H26.7151C27.3858 30.0351 27.9294 29.4914 27.9294 28.8208C27.9294 28.1501 27.3857 27.6064 26.7151 27.6064Z" />
									</svg>
									{{>renderIcon name='caret-down' class="uk-margin-small-left"}}
								</div>
							</div>
						</li>
						<li class="uk-margin-small-right uk-margin-top"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Today</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">This week</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">This Month</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">All</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Film</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Music</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Drama & Dance</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Visual Art & Craft</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Exhibitions</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Festivals</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Literature</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Comedy</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Events & Workshops</button></li>
					</ul>
				</div>
			</div>
		{{/inline}}
	{{/ukContainer}}
	<div class="uk-hidden@m uk-width-1-1">
		<button class="uk-button uk-flex-left list-button uk-margin-auto uk-flex-between">
			<span>
				{{>renderIcon name='folder' class="uk-margin-right"}}
				Categories
			</span>
			{{>renderIcon name='caret-down'}}							
		</button>
		<div class="uk-border-rounded uk-position-relative" data-uk-dropdown="mode: click; pos: bottom-justify">
			<ul class="uk-list uk-flex uk-flex-middle uk-flex-wrap">
				<li class="uk-margin-small-right uk-margin-small-top"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Today</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">This week</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">This Month</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">All</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Film</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Music</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Drama & Dance</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Visual Art & Craft</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Exhibitions</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Festivals</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Literature</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Comedy</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Events & Workshops</button></li>
			</ul>							
		</div>
	</div>
</section>