<section class="events">
	{{#> ukContainer size="large" class="uk-margin-top"}}
		{{#*inline "out"}}
			<div class="uk-flex uk-flex-between uk-flex-top">
				<div class="uk-flex uk-width-1-3@m">
					<h2 class="uk-h1 uk-text-uppercase">See<br> what’s on
					{{>renderIcon name='arrow-right-long'}}
					</h2>
				</div>
				<div class="uk-flex uk-flex-middle uk-flex-wrap uk-width-2-3@m uk-visible@m">
					<ul class="uk-list uk-flex uk-flex-middle uk-flex-wrap">
						<li class="uk-margin-small-right uk-margin-top">
							<input type="text" id="basicDate" placeholder="Please select Date Time" data-input>						
							{{!-- <div id="calendar">
								<span class="calendar uk-text-uppercase uk-text-bold uk-border-pill uk-flex-inline uk-flex-middle uk-position-relative">
									{{>renderIcon name='calendar'}}
									{{>renderIcon name='caret-down'}}
								</span>
							</div> --}}
						</li>
						<li class="uk-margin-small-right uk-margin-top"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Today</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">This week</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">This Month</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">All</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Film</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Music</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Drama & Dance</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Visual Art & Craft</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Exhibitions</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Festivals</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Literature</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Comedy</button></li>
						<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-large">Events & Workshops</button></li>
					</ul>
				</div>
			</div>
		{{/inline}}
	{{/ukContainer}}
	<div class="uk-hidden@m uk-width-1-1">
		<button class="uk-button uk-flex-left list-button uk-margin-auto uk-flex-between">
			<div>
				{{>renderIcon name='folder' class="uk-margin-right"}}
				Categories
			</div>
			{{>renderIcon name='caret-down'}}							
		</button>
		<div class="uk-border-rounded uk-position-relative" data-uk-dropdown="mode: click; pos: bottom-justify">
			<ul class="uk-list uk-flex uk-flex-middle uk-flex-wrap">
				<li class="uk-margin-small-right uk-margin-small-top"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Today</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">This week</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">This Month</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">All</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Film</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Music</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Drama & Dance</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Visual Art & Craft</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Exhibitions</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Festivals</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Literature</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Comedy</button></li>
				<li class="uk-margin-small-right"><button class="uk-text-uppercase uk-text-bold uk-border-pill uk-button uk-button-small">Events & Workshops</button></li>
			</ul>							
		</div>
	</div>
</section>